

.container
{
    background-image: url('https://i.ibb.co/TBCdRJT/bg.png');
    background-size: cover;
    height: 100vh;
}

/**** Who Section ******/
.title
{
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #FEFA8F;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 2vh;
}

.whoBox
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wColumn
{
    width: 20vw;
    height: 14vh;
    color: white;
    text-align: center;
    border-top: 3px solid #FFD700;
    border-bottom: 3px solid #FFD700;
    background: transparent radial-gradient(closest-side at 51% -35%, #131518 0%, #27282C 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0 10px;
    margin-top: 6.5vh;
}

.heading
{
    font-size: 1rem;
}

.info
{
    font-size: 0.7rem;
}


/******Team Section ******/
.box
{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
}

.tTitle
{
    color: white;
    margin-top: -5vh;
    text-align: center;
    margin-left: 35vw;
}

.tBox
{
    border: #FFD700 2px solid;
    width: 15vw;
    height: 45vh;
    border-radius: 5px;
}

.me
{
    width: 14.7vw;
    border-radius: 5px;
    z-index: 1;
}

.tInfo
{
    width: 14.8vw;
    height: 15vh;
    background: #0b0b0b;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 85;
    position: absolute;
    bottom: 4.5vh;
}

.name
{
    color: #FFD700;
    font-size: 1.3rem;
    text-align: center;
}

.position
{
    margin-top: -1vh;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

/* Small Screens */
@media screen and (max-width: 480px )
{
    .container
    {
        background: transparent linear-gradient(212deg, #4E4E54 0%, #090B0D 100%) 0% 0% no-repeat;
    }
    .title
    {
        font-size: 1.2rem;
        margin-top: 5vh;
    }

    .wColumn
    {
        width: 75%;
        margin-top: 2vh;
    }

    .box
    {
        display: none;
    }

    .tBox
    {
        width: 65vw;
        height: 34vh;
        flex: 0 0 auto;
        margin-left: 6vw;
    }

    .me
    {
        display: none;
    }

    .tInfo
    {
        display: none;
    }

}
